 *{padding: 0; margin: 0;}
a {text-decoration: none;}
$color1:#F5F7FF;
$color2:#544CAC;
$color3:#CED5F4;
@mixin displayFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}